@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background: black;
  margin: 0px;
  font-family: "Lato", sans-serif;
  overflow: hidden;

  .custom-shape-divider-bottom-1692919067 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
  }

  .custom-shape-divider-bottom-1692919067 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1692919067 .shape-fill {
    fill: #ffffff;
  }
}



.structure {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr repeat(10, 1fr) 1fr;
  grid-template-rows: repeat(12, 1fr);
  overflow: hidden;
}

::selection {
  background-color: white; /* Cambia el color de fondo de la selección */
  color: #ffbc00;
}

.social {
  width: 35px;
  fill: #ffffff;
  padding-left: 10px;
  cursor: pointer;
}

.social:hover {
  fill: #ffbc00;
  transform: scale(1.2);
  transition: 0.2s;
}

a {
  all: unset;
}

.social-media {
  margin: 30px;
}


.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/13;
  grid-row: 1/1;
  z-index: 10;
}

.prueba {
  text-align: center;
  grid-column: 1/13;
  grid-row: 2/4;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2/4;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  margin: 0;
}

h1 span {
  color: #ffbc00;
}

.ui-ux {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffbc00;
  letter-spacing: normal;
  margin: 5px;
  border-bottom: solid 3px #ffbc00;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 5px;
  color: #ffffff;
}

.astronauta {
  display: grid;
  grid-row: 6/13;
  grid-column: 5/9;
  align-self: end;
  justify-content: center;
  z-index: 10;
}
.astronauta img {
  height: 45vh;
}

.tierra {
  grid-row: 10/13;
  grid-column: 1/3;
  align-items: end;
  animation-delay: -2s;

}

.tierra img {
  margin: 0;
  max-width: 300px;
  position: absolute;
  bottom: 0;
}

.marte {
  align-self: center;
  justify-self: center;
  grid-row: 6/8;
  grid-column: 9/10;
  animation-delay: 2s;

}

.marte img {
  max-width: 70px;

}

.mercurio {
  align-self: center;
  justify-self: center;
  grid-row: 4/7;
  grid-column: 1/2;
}

.mercurio img {
  max-width: 100%;
}

.urano {
  align-self: center;
  justify-self: center;
  grid-row: 8/9;
  grid-column: 4/5;
  animation-delay: -7s;

}

.urano img {
  max-width: 70px;
}

.jupiter {
  justify-self: end;
  grid-row: 2/4;
  grid-column: 11/13;
  animation-delay: 5s;

}

.jupiter img {
  max-width: 100%;
  margin: 0;
}

body * {
  box-sizing: border-box;
}
.icon {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%);
}
.hamburger {
  content: " ";
  position: relative;
  width: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.hamburger:after,
.hamburger:before {
  content: " ";
  position: absolute;
  left: 50%;
  width: 100%;
  border: 2px solid #000;
  border-radius: 5px;
  transform: translateX(-50%);
  transition-property: top, bottom, transform;
  transition-duration: 1s, 1s, 0.25s;
}
.hamburger:after {
  top: -8px;
}
.hamburger:before {
  bottom: -8px;
}
.menu {
  pointer-events: none;
}
.menu--circle {
  position: absolute;
  z-index: 13;
  width: 243.33333333333334px;
  height: 243.33333333333334px;
  overflow: hidden;
  transform: scaleX(-1);
  right: 0;
  top: 0;
}
.menu__toggle:hover {
  background-color: #ffbc00;
  transition: 0.4s ease-in-out;
}

.menu__active {
  position: relative;
}
.menu__toggle {
  z-index: 11;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 1.3s;
  cursor: pointer;
  pointer-events: auto;
}
.menu__listings {
  z-index: 10;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: scale(0.1) rotate(150deg);
  transition: transform 1s;
}
.menu__arrow {
  visibility: hidden;
  position: absolute;
}
.menu__arrow input[type="radio"] {
  position: fixed;
  top: -99999px;
  left: -99999px;
}
.menu__arrow ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__arrow--top {
  top: 0.5em;
  left: 220px;
}
.menu__arrow--top .arrow {
  transform: rotate(-45deg);
}
.menu__arrow--left {
  top: 220px;
  left: 0.5em;
}
.menu__arrow--left .arrow {
  transform: rotate(-135deg);
}
.arrow {
  width: 20px;
  height: 20px;
  border-right: 6.666666666666667px solid #fff;
  border-top: 6.666666666666667px solid #fff;
  border-radius: 3px;
  transition: border-color 0.3s;
  cursor: pointer;
  pointer-events: auto;
}
.arrow:hover {
  border-color: #ffbc00;
  transition: border-color 0.3s;
}
.circle {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(108deg);
  overflow: hidden;
  list-style: none;
}
.circle li {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
}
.circle li .placeholder {
  position: absolute;
  left: -100%;
  padding-top: 1.5em;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(54deg) rotate(18deg);
}
.circle li .placeholder .upside {
  transform: rotate(180deg);
}
.circle li .placeholder a {
  text-decoration: none;
  pointer-events: auto;
}
.circle li .placeholder button {
  pointer-events: auto;
}
.circle li .placeholder .button {
  font-size: 2.3em;
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
}
.circle li:nth-child(1) {
  transform: rotate(0deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(2) {
  transform: rotate(36deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(3) {
  transform: rotate(72deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(4) {
  transform: rotate(108deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(5) {
  transform: rotate(144deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(6) {
  transform: rotate(180deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(7) {
  transform: rotate(216deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(8) {
  transform: rotate(252deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(9) {
  transform: rotate(288deg) skewY(-54deg);
  background-color: #fff;
}
.circle li:nth-child(10) {
  transform: rotate(324deg) skewY(-54deg);
  background-color: #fff;
}
#menu__active {
  position: fixed;
  top: -99999px;
  left: -99999px;
}
#menu__active:checked ~ label .menu__listings {
  transform: rotate(10deg) scale(1);
  transition: transform 1s;
}
#menu__active:checked ~ label .menu__toggle {
  background-color: #000;
  transition: all 1s;
}
#menu__active:checked ~ label .hamburger {
  border-color: transparent;
  transition: border-color 0.333333333333333s;
}
#menu__active:checked ~ label .hamburger:after {
  top: -2px;
  border-color: #fff;
  transform: translateX(-50%) rotate(45deg);
  transition-property: top, transform;
  transition-duration: 0.25s, 1s;
}
#menu__active:checked ~ label .hamburger:before {
  bottom: -2px;
  border-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
  transition-property: bottom, transform;
  transition-duration: 0.25s, 1s;
}
#menu__active:checked ~ label .button:hover {
  color: #ffbc00;
}
#menu__active:checked ~ label .menu__arrow {
  visibility: visible;
  transition: all 1s 1.111111111111111s;
}
#menu__active:checked ~ label .menu__arrow--top label {
  display: none;
}
#menu__active:checked ~ label .menu__arrow--top label[for="degree--up-0"] {
  display: block;
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__listings {
  transform: rotate(116deg);
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label {
  display: none;
}
#menu__active:checked
  ~ label
  #degree--up-0:checked
  ~ .menu__arrow--top
  label[for="degree--up-1"] {
  display: block;
}
#menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings {
  transform: rotate(224deg);
}
#menu__active:checked
  ~ label
  #degree--up-1:checked
  ~ .menu__listings
  ~ .menu__arrow--top
  label {
  display: none;
}
#menu__active:checked
  ~ label
  #degree--up-1:checked
  ~ .menu__listings
  ~ .menu__arrow--top
  label[for="degree--up-2"] {
  display: block;
}

.buttons {
  display: flex;
  gap: 16px;
}

.my-button {
  background: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: medium;
  position: relative;
  display: flex;
  align-items: center;
}

#about-me-btn {
  padding-right: 50px;
}

#about-me-btn::after {
  content: "";
  /*  */
  width: 0px;
  display: flex;
  position: absolute;
  bottom: 8px;
  transition: 0.3s width linear;
}

#about-me-btn:hover::after {
  width: 76px;
  border: 1px solid #fff;
  
}


.button-round-outer {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 0px;
}

.button-round-outer2 {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0px;
}

.button-round-inner {
  height: 19px;
  width: 19px;
  margin: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.my-button a {
  color: #fff;
  text-decoration: none;
}

#about-me-btn::after {
  content: "";
  /*  */
  width: 0px;
  display: flex;
  position: absolute;
  bottom: 8px;
  transition: 0.3s width linear;
}

#about-me-btn:hover::after {
  width: 76px;
  border: 1px solid #fff;
  
}


#portfolio-btn {
  padding-left: 50px;
}

#portfolio-btn::before {
  content: "";
  /*  */
  width: 0px;
  display: flex;
  position: absolute;
  bottom: 8px;
  transition: 0.3s width linear;
}

#portfolio-btn:hover::before {
  width: 76px;
  border: 1px solid #fff;
  
}

.floating {  
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}



@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);}
}

@media (max-width:500px) {
  .structure {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(8, 1fr) ;
    grid-template-rows: repeat(10, 1fr);
    overflow: hidden;
  }

  .prueba {
    grid-row: 3/6;
  }

  .astronauta {
    display: grid;
    grid-row: 6/13;
    grid-column: 1/10;
    align-self: end;
    justify-content: center;
    z-index: 10;
  }
  
  .astronauta img {
    height: 40vh;
  }

  .presentation {
  grid-row: 2/5;  
  grid-column: 2/8;
  }

  #welcome{
    font-size: 18px;
    width: 300px;
  }

  .ui-ux {
  font-size: 25px;
  }

  h1{
    font-size: 40px;
  }

  .buttons {
    transform: scale(0.8);
  }  

 .tierra {
  display: none;
  }

    .urano {
    grid-row:6/7 ;
    grid-column: 1/2;
  }
  
  .marte {
    grid-row:4/5 ;
    grid-column: 8/9;
  }

  .jupiter {
    grid-row:1/3 ;
    grid-column: 7/9;
    z-index: -10;
  }
  
  .mercurio {
    grid-row:1/3 ;
    grid-column: 1/2;
  }

  .social-media {
    margin: 15px;
  }

  .menu--circle {
    position: absolute;
    right: 0;
    top: 0;
  }
}   


/* PAGINA PORTFOLIO */


.carrousel-image {
  grid-row: 3/12;
  grid-column: 1/6 ;
  z-index: 10;
  width: 950px; /* Ancho fijo del contenedor */
  height: 530px; /* Altura fija del contenedor */
  overflow: hidden; /* Para recortar cualquier imagen que exceda el contenedor */
  margin: 10px; /* Espacio entre cada contenedor */
  display: inline-block; /* Para mostrar los contenedores en línea */
  border-radius: 70px;
  position: relative;
  }

.carrousel-image img{
max-width: 950px;
}

.carrousel-options{
  height: 50vh;
  overflow: auto;
} 
.carrousel{
  grid-row: 3/12;
  grid-column: 7/13 ;
  z-index: 10; 
} 

.carrousel-options::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
  height: 1px;
  z-index: 0;
}

/* Estilo del "pulgar" o "scroll thumb" (la parte desplazable de la barra) */
.carrousel-options::-webkit-scrollbar-thumb {
  background-color: #ffbc00; /* Color del "pulgar" */
  border-radius: 6px; /* Borde redondeado del "pulgar" */
  z-index: 0;
}

/* Estilo de la pista de la barra de desplazamiento (la parte no desplazable) */


.carrousel-options h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 20 px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 13px 20px;
  background-color: #000;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
}
 

#portfolio {
  width: 260px;
  margin: 5px;
  border-bottom: solid 3px #ffbc00;
}

.carrousel-options h3:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}

#carouselImage {
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;
  
}

#carouselImage.hide {
  transform: scale(0.95);
  opacity: 0;
}

#carouselImage.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#carouselImage.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carrousel-options h3 span {
  font-weight: 400;
}

.backarrow .fa-solid {
  font-weight: 900;
  color: white;
  font-size: 30px;
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 40px;
  cursor: pointer;
}

.backarrow:hover {
  animation-name: arrow;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  .fa-solid {
    color: #ffbc00;
  }

  #backtoPrincipalPage a h2{
    color: #ffbc00;
  }


}

.backarrow {
  display: flex;
  gap: 15px;
  grid-column: 1/4;
  align-items: center;
  align-self: top;
}  

#backtoPrincipalPage {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#backtoPrincipalPage a {
  text-decoration: none;

}

.text-hidden {
  transform: translateX(-10px);
  opacity: 0;

}

.text-visible {
  transform: translateX(4px);
  opacity: 1;
  transition:  0.3s ease-in-out;
}
@keyframes arrow {
	0% {
    
		transform: translateX(0px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);}
}

.mercurioPortfolio {
  grid-row: 1/4;
  grid-column: 6/9;
  z-index: 10;
  position: relative;
  bottom: 160px;
  animation-delay: 3s;
}

.uranoPortfolio, .mercurioPortfolio img {
  max-width: 100%;
}


.uranoPortfolio {
  grid-row: 3/13;
  grid-column: 1/9;
}



@media (max-width:500px) {
  .carrousel-image {
    grid-row: 3/6;
    grid-column: 1/10 ;
    justify-self: center;
    width: 350px;
    height: 220px;
    border-radius: 30px;
    z-index: 2;
    background-color: #202020;
  }

    .carrousel-image img{
      max-width: 400px;
    }
     
    .carrousel {
      grid-row: 6/12;
      grid-column: 2/8 ;
      z-index: 0; 
      padding-left: 0px;
    }

    .carrousel-options {
      overflow: auto;
      height: 30vh;
    }

    .backarrow {
      display: flex;
      grid-row: 2/3;
      grid-column: 1/4;
      position: relative;
      right: 13px;
    }  
    
.carrousel-options::-webkit-scrollbar {
  width: 0px; /* Ancho de la barra de desplazamiento */
  height: 0px;
  z-index: 0;
}

/* Estilo del "pulgar" o "scroll thumb" (la parte desplazable de la barra) */
.carrousel-options::-webkit-scrollbar-thumb {
  background-color: #ffbc00; /* Color del "pulgar" */
  border-radius: 6px; /* Borde redondeado del "pulgar" */
  z-index: 0;
}

.carrousel-options h3:hover {
  background-color: #fff;
  color: #000;
  transform: translateX(0px);
  transition: 0.5s;
}
    
.carrousel-options h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 10 px !important;
  border: 1px solid #fff;
  border-radius: 80px;
  padding: 13px 20px;
  background-color: #000;
  cursor: pointer;
} 

.mercurioPortfolio {
  grid-row: 5/8;
  grid-column: 7/10;
  z-index: 1;
  animation-delay: 3s;
}

.uranoPortfolio, .mercurioPortfolio img {
  max-width: 50%;
}


.uranoPortfolio {
  position: relative;
  right: 400px;
  top: 400px;
  z-index: -1;
  grid-row: 3/13;
  grid-column: 1/9;
}

}


/*SECCION SOBRE MI */

.about-me {
  grid-row: 3/7;
  grid-column: 2/7;
}

.about-me h1 {
  width: 260px;
  border-bottom: solid 3px #ffbc00;
}

.about-me h2 {
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-me h2 span{
  color: #ffbc00;
  font-weight: 500;
  font-size: 20px;
}

.about-me-img{
  grid-row: 1/12;
  grid-column:8/12;
  

}

.about-me-img img{
max-width: 100%;
border-radius: 400px;
}

.about-me-img img:hover{
transform: scale(1.08);
transition: 0.5s;
background-color: #ffbc00;
}
  
.jupiter-aboutme {
  grid-row: 10/12;
  grid-column: 1/3;
  z-index: -1;
}

.marte-aboutme {
  grid-row: 1/12;
  grid-column: 6/13;
  position: relative;
  bottom: 300px;
  z-index: -1;
}

.programs {
  grid-row: 9/10;
  grid-column: 2/7;
  display: flex;
  gap: 20px
}

.programs img{
  max-width: 50px;
  height: 40px;
}

@media (max-width:500px) {
  .about-me {
    grid-row:3/7;
    grid-column: 2/8;
    padding-left: 15x;
  }
  
  .about-me h2  {
    font-size: 15px;
  }
  

  .about-me h2 span{
    font-size: 15px;
  }
  
  .programs {
    display: none;
  }

  .marte-aboutme {
    grid-row: 1/12;
    grid-column: 1/13;
    position: relative;
    bottom: 0px;
    z-index: -1;
  }
  
}